body {
  background-color: #e8e8e8;
  /* PRINCIPAL PURPLE 240046*/
}

.nav-link {
  cursor: pointer;
}

/* Cards */
.card {
  border: 2px solid white;
  border-radius: 17px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  transition: all 0.5s;
}
.card:hover {
  border: 2px solid #240046;
  transform: scale(1.05);
}

/*cards pequeñas */
.card-mini {
  width: 16rem;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
.card-title-mini {
  background-color: rgba(0, 0, 0, 0.5) ;
}

.card-mini .card-img-top {
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #240046;
}

/* Listas */
.list-group-item:hover {
  background-color: #e8e8e8;
}
.list-group-item {
  border-color: #5A189A;
}

  /* Botones */
  .btn-outline-secondary {
    border-radius: 999px;
    border: 2px solid #ccc;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .btn-outline-secondary:hover {
    background-color: #eee;
    border-color: #5A189A;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
