<app-navbar></app-navbar>
<hr class="custom-divider" />

<div class="container-fluid images-container mt-2">
  <div class="row">
    <div class="d-flex justify-content-center">
      <!-- Fomrulario superior -->
      <form class="d-flex" role="search">
        <div class="container my-4 icon-bar">
          <div
            class="d-flex align-items-center justify-content-between search-bar"
          >
            <!-- <input type="date" class="date-input me-3" /> -->
            <label>
              <div class="radio-inputs">
                <label>
                  <input class="radio-input" type="radio" name="engine" />
                  <span class="radio-tile">
                    <span class="radio-label">0-10👤</span>
                  </span>
                </label>
                <label>
                  <input
                    checked=""
                    class="radio-input"
                    type="radio"
                    name="engine"
                  />
                  <span class="radio-tile">
                    <span class="radio-label">10-50👤</span>
                  </span>
                </label>
                <label>
                  <input class="radio-input" type="radio" name="engine" />
                  <span class="radio-tile">
                    <span class="radio-label">+50👤</span>
                  </span>
                </label>
              </div>
            </label>
            <!-- Search Bar -->
            <div class="inputGroup">
              <input type="text" required="" autocomplete="off" />
              <label for="name">Buscar</label>
            </div>
            <button class="btn" type="submit">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="24 / basic / search">
                  <path
                    id="icon"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929L20.2929 21.7071L14.9056 16.3199C13.551 17.3729 11.8487 18 10 18ZM16 10C16 13.3137 13.3137 16 10 16C6.68629 16 4 13.3137 4 10C4 6.68629 6.68629 4 10 4C13.3137 4 16 6.68629 16 10Z"
                    fill="black"
                  />
                </g>
              </svg>
            </button>
          </div>

          <!-- Categories -->
          <div class="d-flex overflow-auto mt-2">
            <div class="category-item">
              <div class="category-icon">⛳</div>
              <small>Golf</small>
            </div>
            <div class="category-item">
              <div class="category-icon">🛀</div>
              <small>Spa's</small>
            </div>
            <div class="category-item">
              <div class="category-icon">🏠</div>
              <small>Exterior</small>
            </div>
            <div class="category-item">
              <div class="category-icon">🕹️</div>
              <small>Gamming</small>
            </div>
            <div class="category-item">
              <div class="category-icon">🎤</div>
              <small>Música</small>
            </div>
            <div class="category-item">
              <div class="category-icon">🎳</div>
              <small>Bowling</small>
            </div>
            <!-- Agrega más categorías según necesites -->
            <div class="category-item">
              <div class="category-icon">💼</div>
              <small>Bussiness</small>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid px-4">
  <div class="d-flex flex-wrap justify-content-center gap-4">
    <div *ngFor="let item of listaEspacios">
      <div class="card">
        <img src="{{ item.imagen }}" alt="Photo" class="card-img" />
        <div class="card-img-overlay d-flex p-3">
          <h5 class="card-title">{{ item.nombre }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
